.brides-link-page {
    text-decoration: none;

}

.brides-shops {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.bride-intro{
    width: 75%;
}


@media (max-width: 1023px) {
    .brides-shops {
      flex-direction: column; 
      align-items: flex-start; 
    }
  
    .bride-intro {
      width: 100%; 
    }
  }
  
 
  @media (max-width: 767px) {
    .brides-shops {
      flex-direction: column; 
      align-items: flex-start; 
    }
  
    .bride-intro {
      width: 100%; 
    }
  }
  
  
  