:root {
  --white-color: #f0f0f5;
  --button-color: rgba(245, 224, 242, 1);
  --text-color: rgb(119, 119, 119);
  --primary-color: black;

 

  --title-font:'Old Standard TT', sans-serif;
--text-font:'Playfair Display', sans-serif

}